<div class="content__footer">
    <section class="content__footer--inicio">
        <!-- <fa-icon [icon]="faWindows"></fa-icon> -->
        <div class="image--windows alinear">
            <img src="../../../assets/images/windows-icon.svg" alt="">
        </div>

        <div class="footer--buscador alinear">
              Escribe aqui para buscar <fa-icon class="icon-lupa" [icon]="lupa"></fa-icon>
        </div>

    </section>

   <section class="content__footer--acceso_rapido">

        <ul>
            <li >
                <fa-icon class="icon_ar" [icon]="cortana" ></fa-icon>
            </li>
        
            <li>
                <mat-icon class="icon_ar">view_day</mat-icon>
            </li>
        </ul>
   </section>

    <section class="content__footer--configuracion">
        configuracionessssss
    </section>
</div>

